/** @format */

body {
  color: black;
}

.border {
  border: 1px solid black;
}

.display-box {
  background-color: gray;
  border-radius: 5px;
}

.button {
  border-radius: 5px;
  border-color: gray;
  border-width: 3px;
}

.column {
  height: 100vh;
}

.slider-textcolor {
  color: #5E72E4;
  font-weight: bold;
}
