/** @format */

body {
  color: black;
}

// .border {
//   border: 1px solid black;
// }

.display-box {
  border-radius: 5px;
  width: 100%;
  font-size: 10px;
}

.records:first-child {
  margin-left: 0em;
}

.menu-list {
  width: 100%;
}

.button {
  border-radius: 5px;
  border-color: gray;
  border-width: 3px;
}

.column {
  height: 100vh;
  border: 1px grey solid;
  width: 33%;
  overflow-y: scroll;
}

.slider-textcolor {
  color: #5E72E4;
  font-weight: bold;
}

.objectProperty {

}

.records {
  width: 100%;
  margin-left: 2em;
}

.type {
  background: lightblue;
}

.key {
  font-weight: bold;
  word-wrap: break-word;
}

.menu {
  font-size: 10px;
}

.value {
  word-wrap: break-word;
}
